{% extends 'layout.twig' %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <h2>Dashboard</h2>
    <hr>
    <a href="/dashboard/add-project"> Criar novo projeto </a>
    <section id="list-project">
        <h3>Em andamento</h3>
        {% for project in projects %}
        {% if project.status == 0 %}
        <div class="card card-project">
            <h4><a href="/project/{{ project.projectId }}">{{project.codename}}</a></h4>
            <h5>{{project.code}}   -   {{clients[project.clientId]}}</h5>
        </div>
        {% endif %}
        {% endfor %}
        <h3>Finalizados</h3>
        {% for project in projects %}
        {% if project.status == 1 %}
        <div class="card card-project">
            <h4><a href="/project/{{ project.projectId }}">{{project.codename}}</a></h4>
            <h5>{{project.code}}   -   {{clients[project.clientId]}}</h5>
        </div>
        {% endif %}
        {% endfor %}
        <h3>Arquivados</h3>
        {% for project in projects %}
        {% if project.status == 2 %}
        <div class="card card-project">
            <h4><a href="/project/{{ project.projectId }}">{{project.codename}}</a></h4>
            <h5>{{project.code}}   -   {{clients[project.clientId]}}</h5>
        </div>
        {% endif %}
        {% endfor %}
    </section>
{% endblock %}