{% extends 'layout.twig' %}

{% block title %}
    {{project.codename}} - Modo edição
{% endblock %}

{% block content %}
    <form method="POST" action="update">
        <nav>
            <a href="/project/{{project.projectId}}">Cancelar</a>
            <input type="submit" value="Salvar">
        </nav>
        <input type="text" name="codename" value="{{project.codename}}" required>
        <input type="number" name="code" value="{{project.code}}" required>
        <br>
        <textarea name="description" required>{{project.description}}</textarea>
        <br>
        <input type="date" name="start_date" value="{{project.startDate}}" required>
        <input type="date" name="end_date" value="{{project.endDate}}" required>
        <br>
        <select name="status" required>
            <option value="0" {{project.status == 0 ? 'selected'}} >Em andamento</option>
            <option value="1" {{project.status == 1 ? 'selected'}} >Finalizado</option>
            <option value="2" {{project.status == 2 ? 'selected'}} >Arquivado</option>
        </select>
        <br>
        <textarea name="scope" required>{{project.scope}}</textarea>
        <br>
        <input type="text" name="links" value="{{project.links}}" required>
        <br>
        <input type="text" name="tags" value="{{project.tags}}" required>
        <br>
        <input type="number" name="client_id" value="{{project.clientId}}" required>
    </form>
{% endblock %}